doctype html
html(lang="en")
  head
    title My Favorite Place To Eat
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/Css/bootstrap.css")
    link(rel="stylesheet" href="/Css/main.css")
    link(rel="stylesheet" href="/Css/animate.css")
  body
      nav(class="se-gris padding-largo row text-center")
          ul(class="no-lista Pacifico")
              li(class="col-md-3 inline-block")
                  a(class="verde" href="index.html") Home
              li(class="col-md-3 inline-block")
                  a(class="verde" href="Contacto.html") Contact
              li(class="col-md-3 inline-block")
                  a(class="verde" href="Menu.html") Menu
        block contenido
